# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Minecraft build output
dist/
lib/

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Others
*.bak
*.tmp
